@model DetailsViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dt-custom {
        margin-top: 4px;
        color: #fff;
        font-weight: 300;
    }

    .custom-span {
        font-weight: 700;
        color: #b8c7ce
    }

    .custom-scroll {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .custom-scroll::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .custom-scroll ul li {
            list-style: none;
        }
</style>

<div id="app" class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header" style="background-color:#666">
                        <h4 class="box-title" style="color:#ffff">Details</h4><small style="color:#fff">...</small>

                        <div class="box-tools pull-right">
                            <a class="btn btn-social-icon" style="cursor:pointer">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="dl-horizontal">
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.MachineName) :</span> @Html.DisplayFor(model => model.MachineName)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.Machine_OS) :</span> @Html.DisplayFor(model => model.Machine_OS)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.HostName) :</span> @Html.DisplayFor(model => model.HostName)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.Ip) :</span> @Html.DisplayFor(model => model.Ip)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">Coordinates :</span> @Html.DisplayFor(model => model.Latitude) , @Html.DisplayFor(model => model.Longitude)
                                    </dt>
                                </dl>
                            </div>

                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.Country) :</span> @Html.DisplayFor(model => model.Country)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.City) :</span> @Html.DisplayFor(model => model.City)
                                    </dt>
                                    <dt class="dt-custom">
                                        <span class="custom-span">@Html.DisplayNameFor(model => model.Region) :</span> @Html.DisplayFor(model => model.Region)
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger" style="background-color:#666">
                    <div class="box-header border-bottom">
                        <h4 style="color:#ffff" class="box-title">Os version Related CVE'S</h4>
                    </div>

                    <div class="box-body">
                        <div class="custom-scroll" style="max-height:500px">
                            @foreach (var cve in Model.CveInfo)
                            {
                                <ul>
                                    <li class="row" style="border-bottom:1px solid #dd4b39">

                                        <div class="col-md-3">
                                            <h5 class="box-title custom-span">@cve.Title</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5 class="box-title" style="color:#fff">
                                                @cve.Description
                                                <a href="@string.Format("https://cve.mitre.org/cgi-bin/cvename.cgi?name=" + cve.Title)">
                                                    <small style="color:rgb(29, 161, 242)"> [read more]</small>

                                                </a>
                                            </h5>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-body">
                        <div id="map" style="height:350px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/javascript-map.min.js"></script>

@section scripts{

    <script type="text/javascript">

        var dataLst = new Vue({
            el: "#app",
            mixins: [vue_base],
            data: {
                map: null,
               
            },
            mounted() {
                this.draw_map();
            },
            methods: {

                draw_map: function(){

                    var baseLayer = new L.tileLayer(
                        'https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png');

                    this.map = new L.map('map', {
                    center: ['@Model.Latitude', '@Model.Longitude'],
                        zoom: 14,
                        zoomControl: false,
                    layers: [baseLayer]
                    });

                    L.marker(['@Model.Latitude', '@Model.Longitude']).addTo(this.map);
                },
            }
        });
    </script>
}