@model List<RansomDetailsViewModel>
@{
    ViewData["Title"] = "Ransomwares list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .box-body {
        background-color:#666
    }
</style>

<div id="app" class="row">
    <!--Modal-->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Plase, paste your decryot key here.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input v-model="modal_key" class="form-control" type="text" placeholder="simetric key here..." autocomplete="off">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-on:click="generate_decrypt_exe" type="button" class="btn btn-primary" :disabled="button_display">
                         Generate Decryptor
                        <i class="fa fa-cog fa-spin" v-show="loading_conf"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--End modal-->

    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header" style="background-color:#666">
                        <h4 class="box-title" style="color:#ffff">My Ransomware's</h4><small style="color:#fff"> ransomware key management</small>

                        <div class="box-tools pull-right">
                            <a class="btn btn-social-icon" style="cursor:pointer">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="box box-danger" style="background-color:#666">
                    <table class="table" style="color:#fff">
                        <thead>
                            <tr style="color:#dd4b39">
                                <th class="text-center">Ransomware Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Release date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RansomDetailsViewModel record in Model)
                            {
                                <tr>
                                    <td class="text-center">@record.Name</td>
                                    <td class="text-center">@record.Description</td>
                                    <td class="text-center">@record.Date</td>
                                    <td class="no-padding">
                                        <div class="margin">
                                            <div class="btn-group">
                                                <button class=" btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a type="button" data-toggle="modal" data-target="#mymodal" href="#">Decrypt .exe</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" v-on:click="remove(@record.Id)">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-5">
                <div class="box box-danger" style="background-color:#666">
                    <div class="box-header">
                        <h4 class="box-title" style="color:#ffff">Decrypt key</h4>
                    </div>
                    <div class="box-body">
                        <div class="small-box bg-gray">
                            <div class="row">
                                <div class="col-md-4"></div>

                                <div class="col-md-4">
                                    <div class="info-box text-center">

                                        <div class="bg-gray  no-margin d-flex justify-content-center" @@dragover="dragover" @@dragleave="dragleave" @@drop="drop">

                                            <input style="display:none" type="file" multiple name="file" id="assetsFieldHandle"
                                                   class="w-px h-px opacity-0 overflow-hidden absolute" @@change="onChange" ref="file" accept=".key,.jpg,.txt" />

                                            <label for="assetsFieldHandle" class="info-box-icon" style="margin-top:20px; margin-bottom:20px; cursor:pointer">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                        </div>
                                        <span style="color:#666" v-for="file in filecontent">{{file.name}}</span>
                                    </div>

                                </div>

                                <div class="col-md-4"></div>
                            </div>

                            <a class="small-box-footer">Drop secretkey</a>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box bg-green no-border no-border">
                                    <h5 class="text-center">{{key_plaintext}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer no-border" style="background-color:#666">
                        <button @@click="decryptkey" class="btn btn-xs btn-block btn-primary">Decrypt key</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        var dataLst = new Vue({
            el: "#app",
            mixins: [vue_base],
            data: {
                filecontent:[],
                key_plaintext: "",
                modal_key: "",
                button_display: false,
                loading_conf: false
            },
            mounted() {
            },
            methods: {

                generate_decrypt_exe: function () {
                    this.loading_conf = true;
                    this.button_display = true;

                    if (this.key_plaintext != "") {
                        this.modal_key = this.key_plaintext;
                    }

                    var parameter = {
                        key: this.modal_key
                    };

                    this.get_request('@Url.Action("GenerateDecryptor", "Management")', parameter).then(response => {
                        console.log(response.data);
                        if (response.data.success != false) {
                            this.show_success_notification(response.data.message);
                            this.loading_conf = false;
                            this.button_display = false;
                        }
                        else {
                            this.show_error_notification(response.data.message);
                        }
                    });
                },

                decryptkey: function () {
                    let formData = new FormData();
                    formData.append('file', this.filecontent[0]);

                    this.post_request_file('@Url.Action("DecrypSecretKey", "Management")', formData).then(response => {
                        if(response.data.success != false)
                        {
                            this.show_success_notification(response.data.message);
                            this.key_plaintext = response.data.mrObject;
                        }
                        else{
                            this.show_error_notification(response.data.message);
                        }
                    });
                },

                onChange() {
                    this.filecontent = [...this.$refs.file.files];
                },

                dragover(event) {
                    event.preventDefault();
                    // Add some visual fluff to show the user can drop its files
                    if (!event.currentTarget.classList.contains('bg-green-gradient')) {
                        event.currentTarget.classList.remove('bg-gray');
                        event.currentTarget.classList.add('bg-green-gradient');
                    }
                },
                dragleave(event) {
                    // Clean up
                    event.currentTarget.classList.add('bg-gray');
                    event.currentTarget.classList.remove('bg-green-gradient');
                },
                drop(event) {
                    event.preventDefault();
                    this.$refs.file.files = event.dataTransfer.files;
                    this.onChange(); // Trigger the onChange event manually
                    // Clean up
                    event.currentTarget.classList.add('bg-gray');
                    event.currentTarget.classList.remove('bg-green-gradient');
                },

                remove: function (id) {

                    this.post_request('@Url.Action("DeleteRansomware", "Management")', id).then(response => {
                        if (response.data.success !== false) {
                            //aqui va el mensaje de success
                            location.reload();
                        }
                    });
                }
            }
        });
    </script>
}